<header>
  <h2>About Me</h2>
</header>

<div class="about-container">
  <p>
    Hello! I'm Idan Mashiah
  </p>
  <p>a passinate-skilled in Backend Development, C#, .Net Core, Big Data, MongoDB, and Apache Kafka.</p>
  <p>Almost 4 years of web development, ingaging with an R&D team.</p>
  <p>Work on web apps and implementing new innovative solutions for debriefing unmanned air vehicles.</p>

  <h3>Connect with Me</h3>
  <ul>
    <li>Email: email.gmail.com</li>
    <li>LinkedIn: idanmashiah.linkedin.com</li>
    <li>GitHub: idanmashiah2812.github.com</li>
  </ul>
</div>
